# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
storage/ppt/*.pptx
storage/ppt/
storage/excel/*.xlsx
scripts/storage/ppt/*.pptx
scripts/storage/
*.log

# Test
test/data/
test/result/
test/result/*
